<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongdun.dao.FeedOriginDao">

    <!-- 获取最后一次插入的code -->
    <select id="getCode" resultType="String">
        select code from feed_origin order by id desc limit 1
    </select>

    <sql id="columnRef">
        code,title,description,back_resource,source_pub_time,source,source_url,content,editor,level,status,created_at,updated_at
    </sql>

    <!-- 插入一条feed信息 -->
    <insert id="addFeedOrigin" parameterType="com.hongdun.entity.FeedOrigin">
        insert into feed_origin (
        <include refid="columnRef"/>
        ) values
        (#{code},#{title},#{description},#{burl},#{publishTime},#{source},#{sourceUrl},#{content},#{editor},#{level},0,now(),now())
    </insert>

    <!-- 更新一条feed信息 -->
    <update id="updateFeedOrigin" parameterType="com.hongdun.entity.FeedOrigin">
        update feed_origin set title=#{title},description=#{description},back_resource=#{burl},
        source_pub_time=#{publishTime},source=#{source},source_url=#{sourceUrl},
        content=#{content},editor=#{editor},level=#{level},updated_at=now() where id=#{id}
    </update>

    <select id="getFeeds" parameterType="map" resultType="com.hongdun.entity.FeedOrigin">
        select
        <include refid="columnRef"/>
        from feed_origin
        <where>
            <if test="startDate != null and endDate != null">
                source_pub_time &gt;= #{startDate} and source_pub_time &lt;= #{endDate}
            </if>
            <if test="startDate != null and (endDate == null or endDate == '')">
                source_pub_time &gt;= #{startDate}
            </if>
            <if test="(startDate == null or startDate == '') and endDate != null">
                source_pub_time &lt;= #{endDate}
            </if>
            <if test="status != null">
                and status=#{status}
            </if>
            <if test="keyList != null">
                and (
                <foreach collection="keyList" index="index" item="item" open="" separator="or"
                         close="">
                    keys like CONCAT(CONCAT('%', #{item}) ,'%')
                </foreach>
                )
            </if>
        </where>
    </select>
    <!-- 审批feed流 -->
    <update id="reviewFeedOrigin" parameterType="map">
        update feed_origin set status=#{status},note=#{note},updated_at=now()
        where id in (
        <foreach collection="idList" item="item" index="index" open="" separator="," close="">
            #{item}
        </foreach>
        )
    </update>
</mapper>